.Day_Container {
  width: 14.28571%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0.5em;
  position: relative;
}

.Day_EmptyContainer {
  cursor: default;
}


.Day_Selected {
   & > div {
    //  border-radius: 50%;
     background-color: rgb(68, 138, 255);
   }
}

.Day_Selected::after {
  content: '•';
	color: #f78536;
	font-size: 1.4em;
	position: absolute;
  right: -4px;
  top: -4px;
}
