.Header_Container {
  background-color: rgb(68, 138, 255);
  color: rgb(255, 255, 255);

  padding-left: 20px;

  & > .Header_Year {
    padding: 15px;
    padding-left: 0;
    font-size: large;
    cursor: pointer;
  }

  & > .Header_DateTime {
    padding-bottom: 15px;
    cursor: default;
    font-size: 1.8em;
  }

  & > .Header_Today {
    position: absolute;
    cursor: pointer;
    right: 5px;
    margin-right: 8px;
    margin-top: 8px;
  }

}
