.Week_Container {

  display: flex;
  justify-content: space-around;
  text-align: center;

  font-smoothing: antialiased;
  font-weight: 500;
  opacity: 0.5;

  user-select: none;
  color: rgba(0, 0, 0, 0.870588);

}
